// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.data-grid {
    width: 100%;

    &__col {
        overflow: hidden;
        padding-top: 7px;
        padding-bottom: 7px;

        &:last-child {
            text-align: right;
        }
    }

    &__input {
        max-width: 100%;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid transparent;
        text-align: center;

        &:hover {
            border-bottom-color: $indigo;
        }

        &:focus {
            background-color: $white;
            border-bottom-color: $indigo;
        }
    }

    &__row:hover {
        background-color: $body-bg-hover;
    }

    &__form {
        margin-bottom: 10px;
    }
}

.left-menu {
    list-style: none;
    padding-left: 0;
}


.page {
    &__comment {
        color: $blue;
        font-size: 0.9em;
        margin-bottom: 35px;
    }
}